// 支持es4语法
var filter = {
  numberToFixed: function(inputTime) {
    var date = getDate(inputTime * 1000);
    var y = date.getFullYear();
    var m = date.getMonth() + 1;
    m = m < 10 ? "0" + m : m;
    var d = date.getDate();
    d = d < 10 ? "0" + d : d;
    var h = date.getHours();
    h = h < 10 ? "0" + h : h;
    var minute = date.getMinutes();
    var second = date.getSeconds();
    minute = minute < 10 ? "0" + minute : minute;
    second = second < 10 ? "0" + second : second;
    return y + "-" + m + "-" + d;
  },
  numberToFixed1: function(inputTime) {
    var date = getDate(inputTime * 1000);
    var y = date.getFullYear();
    var m = date.getMonth() + 1;
    m = m < 10 ? "0" + m : m;
    var d = date.getDate();
    d = d < 10 ? "0" + d : d;
    var h = date.getHours();
    h = h < 10 ? "0" + h : h;
    var minute = date.getMinutes();
    var second = date.getSeconds();
    minute = minute < 10 ? "0" + minute : minute;
    second = second < 10 ? "0" + second : second;
    return h + ":" + m;
  },
  numberToFixed2: function(inputTime) {
    var date = getDate(inputTime);
    var y = date.getFullYear();
    var m = date.getMonth() + 1;
    m = m < 10 ? "0" + m : m;
    var d = date.getDate();
    d = d < 10 ? "0" + d : d;
    var h = date.getHours();
    h = h < 10 ? "0" + h : h;
    var minute = date.getMinutes();
    var second = date.getSeconds();
    minute = minute < 10 ? "0" + minute : minute;
    second = second < 10 ? "0" + second : second;
    return y + "-" + m + "-" + d;
  },
  numberToFixed3:function(value) {
    return value.toFixed(1);
  },
  numberToFixed4:function(value) {
    return value.toFixed(2);
  }
};

// 导出对外暴露的属性
module.exports = {
  numberToFixed: filter.numberToFixed,
  numberToFixed1: filter.numberToFixed1,
  numberToFixed2: filter.numberToFixed2,
  numberToFixed3: filter.numberToFixed3,
  numberToFixed4: filter.numberToFixed4
};
